---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="TheWizar[Props]">
	<main class="p-4 my-3 mx-auto w-11/12  row-start-2 row-end-6 bg-slate-50 rounded-lg">
		<h1>Una guia gratis de CSS</h1>
	</main>
</Layout>


