---
---
<footer class=" m-0 p-4 w-full text-center text-lg row-start-6 row-end-7 bg-slate-50 text-blue-950">
  <p class="font-bold "><a href="#">@jcbalbdev</a> | 2023</p>
  <p class="font-normal 0">Made with ❤️ by Jose C. Balbin </p>
</footer>