---
import Navbar from "./Navbar.astro"
---

<header class="m-0 p-0 w-full row-start-1 row-end-2 bg-yellow-300">
  <div class="p-0 m-0 h-full grid grid-cols-1 grid-rows-2 gap-1">
    <div class="w-full h-full text-center row-start-1 row-end-2">
        <h1 class="relative inline-block  p-4 m-0 font-bold text-center text-4xl text-blue-950 ">
          The Wizard[props]<span class="absolute top-1/2 left-4/5 -translate-x-1/2 bg-yellow-400 -rotate-45 text-sm rounded-lg py-0.5 px-2 m-0">CSS<span/>
        </h1>
    </div>
    <!-- rutas -->
    <Navbar/>
  </div>
</header>